* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;

  font-size: 62.5%;
}

html,
body {
  font-family: 'Merriweather Sans', sans-serif;
  width: 100%;
  height: 100%;
  background-color: var(--body-bg-color);
}

.container {
  background-color: var(--bg-cards);
  margin-inline: 2.4rem;
  margin-bottom: 3rem;
  padding-block: 3rem;
  border-radius: 2rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  
}

/* ------------ HEADER ---------- */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.4rem;
}

.header__image {
  width:12.8rem;
  height: 12.8rem;
  border-radius: 100%;
  margin-bottom: 2.2rem;
  border: 2px solid #0084ff;
}

.header__title {
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 1rem;
  text-align: center;
}

.header__bio {
  font-size: 1.3rem;
  color: var(--text-color);
  padding-inline: 0.5rem;
  margin-bottom: 1.9rem;
  text-align: center;
}

/* ------------ SOCIAL ---------- */
.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social__li {
 list-style: none;
 width: 33%;
}

.social__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.social__icone {
  font-size: 2.4rem;
  color: var(--text-color);
}

.social__texto {
  color: var(--text-color);
  font-size: 1.2rem;
  margin-top: 1rem;
}

/* ------------ TECHNOLOGIES ---------- */
.technologies__title {
  color: var(--text-color);
  font-weight: 700;
  font-size: 2rem;
  margin-inline: 2rem;
  margin-bottom: 2rem;
}

.technologies__list {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  list-style: none;
  padding-inline: 3rem;
  width: 100%;
}

.technologies_item {
  background-color: var(--bg-techs);
  color: #000000;
  font-weight: 700;
  text-align: center;
  font-size: 1.3rem;
  width: 44%;
  padding-block: 0.6rem;
  border: none;
  border-radius: 3rem;
  text-transform: uppercase;
}

/* ------------ EDUCATION ---------- */
.education__title {
  color: var(--text-color);
  font-weight: 700;
  font-size: 2rem;
  margin-inline: 2rem;
  margin-bottom: 2rem;
}

.education__list {
  padding-left: 4rem;
  color: var(--text-color);
}

.education__list{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.education__link {
  text-decoration: none;
}

.education__link--subtitle {
  color: var(--text-color);
  font-weight: 700;
  font-size: 1.5rem;
}

.education__link--year,
.education__link--course {
  color: var(--text-color);
  font-size: 1.3rem;
}

/* ------------ PROJECTS ---------- */
.projects {
  margin-bottom: 2rem;
}

.projects__title {
  color: var(--text-color);
  font-weight: 700;
  font-size: 2rem;
  margin-inline: 2rem;
  margin-bottom: 2rem;
}

.projects__itens {
  list-style: none;
}

.projects__itens:first-child {
  margin-bottom: 2.5rem;
}

.projects__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-left: 4rem;
}

.projects__link--escova--dente {
  background: url(./assets/img/escova-de-dente.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 3.6rem;
  height: 3.6rem;
  margin-right: 2rem;
}

.projects__link--escova--cabelo {
  background: url(./assets/img/escova-de-cabelo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 3.6rem;
  height: 3.6rem;
  margin-right: 2rem;
}

.projects__link--project {
  color: var(--text-color);
  font-weight: 700;
  font-size: 1.5rem;
}

/* ------------ FOOTER ---------- */
.footer {
  padding-bottom: 2rem;
}

.footer__text {
  text-align: center;
  color: var(--text-color);
  font-size: 1.4rem;
}

/* ------------ RESPONSIVE ---------- */

/* ------------ 425px ---------- */
@media screen and (min-width: 425px) {
  .technologies_item {
    width: 30%;
  }
}

/* ------------ 768 ---------- */
@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .container {
    margin-left: 4rem;
    margin-right: 0;
    width: 45vw;
  }

  main {
    height: 72.6%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .header {
    margin-top: 4rem;
  }

  .header__title {
    font-size: 2.2rem;
  }

  .social {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: flex-start;
    padding-left: 4rem;
  }

  .technologies_item {
    width: 29%;
  }

  .education {
    height: 94.3%;
    width: 40vw;
    margin-right: 4rem;
    margin-left: 3.5rem;
  }
 
  .footer {
    width: 100vw;
  }

  .projects {
    height: 42.6%;
    width: 40vw;
    position: absolute;
    top: 4rem;
    right: 4rem;
    margin-bottom: 3rem;
  }
}
